<% content_for :title, "New event" %>

<h1>New event</h1>

<div class="event-actions">
  <%= link_to "Back to events", events_path, class: "btn btn-primary" %>
</div>

<%= render "form", event: @event %>
